@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0070f3;
  --secondary: #ff4081;
  --accent: #ffa726;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #3291ff;
  --secondary: #ff79b0;
  --accent: #ffb74d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
